<!DOCTYPE html>
<html lang="en">
<head>
  <title>read seatingplan</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">

  <table class="table table-bordered">
	<% if (result.length > 0) { %>
		<thead><tr><th>Table</th><th>Seat</th><th>Guest</th><tr></thead>
	<% } %>
	
	<tbody>
  	<% for(var i=0; i<result.length; i++) { %>
		<tr>
			<td><%=result[i].table %></td>
			<td><%=result[i].seat %></td>
			<td><%=result[i].guest %></td>
		</tr>
	<% } %>
	</tbody>
  </table>
  
</div>

</body>
</html>

